.footer {
    background-color: $footer-bg-color;
    padding: 3.5rem 0 3rem;

    &__block {
        margin-bottom: 2.5rem;
    }

    &__map-embeded {
        height: 26rem;
        width: 100%;
        border: 0;
    }

    h4 {
        font-size: 2rem;
    }

    &__menu {
        &-box {
            border: 1px solid;
            border-radius: .5rem;
            padding: 1rem;
        }
        &--list {
            li {
                font-size: 1.5rem;
                border-bottom: 1px solid $content-secondary-color;
                line-height: 2rem;
                transition: border .5s linear;
    
                &:not(:first-child) {
                    padding-top: 1rem;
                }
    
                &:hover {
                    border-bottom-color: $header-content-title;
                }
    
                a {
                    color: $content-secondary-color;
                    display: block;
                    padding-bottom: 1rem;
                }
            }
        }
    }

}