// COLORS
$body-bg-color: #f8f9fb;

$search-input-bg-color: #ebeff3;
$header-content-title: #f5a623;

$content-primary-color: #a5adb3;
$content-secondary-color: #76828c;

$footer-bg-color: #e6e9eb;

$white: #ffffff;
$black: #000000;


// FONT SIZE
$default-size: 1.6rem;